<launch>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar)/lidar.rviz" output="screen" />
    <node name="player" pkg="rosbag" type="play"  output="screen" args="$(find lidar)/lidar.bag"/>
    <node name="points" pkg="lidar" type="LaserScan_to_points.py" />
    <node name="clusters" pkg="lidar" type="clusterer.py" />
    <node name="polylines" pkg="lidar" type="shaper_polyline.py" />
    
    <!-- ToDo: Other Nodes -->
</launch>
